.sar-warning{background:#FCDC04;padding:8px;max-width:60%;border:solid 1px #DC240A;text-align:center;}
.sar-test-info{background:#0464B4;color:#ECF4FC;padding:2em;max-width:60%;border:dashed 5px #D8B557;margin-bottom:10px;}
.sar-test-info p{font-size:1.2em;}